<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fab</title>
    <link rel="stylesheet" href="../../material.css">
</head>

<body>

    <div style="padding: 64px;">
        <my-fab style="position: relative; right: 0; bottom: 0;" icon="lens"></my-fab>
        <br><br>

        <my-fab style="position: relative; right: 0; bottom: 0;" mini icon="lens"></my-fab>
        <br><br>

        <my-fab style="position: relative; right: 0; bottom: 0;" extended icon="lens"></my-fab>
        <my-fab style="position: relative; right: 0; bottom: 0;" extended text="Text"></my-fab>
        <my-fab extended icon="lens" text="Text"></my-fab>
        <br><br>
    </div>
    <br><br>

    <script src="../../material.js" type="module"></script>
</body>

</html>